.gradle/
.idea/
build/
app/build/
local.properties
*.iml
work/
keystore.properties
*.jks
*.keystore
*.apk
*.aab
captures/
.externalNativeBuild/
.cxx/
out/
**/.DS_Store
Thumbs.db
play-store/assets/*.psd
